/* navigation layout */
.content { position: relative; margin-top: 36px; }

@media (min-width: 30em) {
.row { width: 100%; display: table; table-layout: fixed; }
.col { display: table-cell; }

.fixed-table { table-layout: fixed; width: 100%; white-space: nowrap; }
.fixed-table td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/* Column widths are based on these cells */
.device { text-align: left; width: 30%; }
.temperature { text-align: left; width: 15%; }
.humidity { text-align: left; width: 15%; }
.pressure { text-align: left; width: 15%; }
.timestamp { text-align: left; width: 25%; }

.heater { text-align: left; width: 15%; }
.departuretime { text-align: left; width: 30%; }
.days { text-align: left; width: 45%; }
.actions { text-align: left; width: 10%; }
