body {
    margin: 0px;
}

/* page content */
.content {
    position: relative;
    top: 36px;
    margin-top: 0.5em;
    font-family: sans-serif;
}

/* table layout for lists */
.fixed-table {
    table-layout: fixed;
    width: 100%;
    margin: 0.5em;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0px;
}

.fixed-table tr.highlighted {
    background-color: #aa0000;
}

.fixed-table td, th {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.fixed-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Column widths are based on these cells */
.fixed-table .device { text-align: left; width: 25%; }
.fixed-table .temperature { text-align: left; width: auto; }
.fixed-table .humidity { text-align: left; width: auto; }
.fixed-table .pressure { text-align: left; width: auto; }
.fixed-table .timestamp { text-align: left; width: 35%; }

.fixed-table .heater { text-align: left; width: auto; }
.fixed-table .label { text-align: left; width: auto; }
.fixed-table .departuretime { text-align: left; width: auto; }
.fixed-table .days { text-align: left; width: 50%; }

/* index page */
.temperatureContainer, .scheduleContainer {
    display: block;
	border-color: #61e81e;
	border-size: 1px;
	border-radius: 6px;
}

.temperatureContainer .header {
    display: block;
    width: 100%;
    margin-top: 1em;
    text-align: center;
    font-size: xx-large;
}

.temperatureContainer .values {
    display: flex;
    width: 100%;
    margin-top: 2em;
}

.temperatureContainer .valueitem {
    width: 33%;
    text-align: center;
    font-size: x-large;
}

.temperatureContainer .label {
}

.temperatureContainer .value {
    margin-left: 0.2em;
}
