/* Vertical menu that slides from the left */
.menu {
	background: #47a3da;
	position: fixed;
    font-family: sans-serif;
    font-size: 1.1em;
	width: 240px;
	height: 100%;
	top: 36px;
	left: -240px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 1000;
}

.menu a {
	display: block;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}

.menu a:hover {
	background: #258ecd;
	text-decoration: none;
}

.menu a:active {
	background: #afdefa;
	color: #47a3da;
	text-decoration: none;
}

.menu.open {
	left: 0px;
}

/* Example media queries */
@media screen and (max-height: 26.375em){
	.menu {
		font-size: 90%;
		width: 190px;
		left: -190px;
	}
}
