.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 180px;
	height: 30px;
	margin: 0 10px 10px 0;
	border-radius: 18px;
}
.switch-input {
	position: absolute;
	top: 0;
	left: -100;
	opacity: 0;
}
.switch-label {
	position: inherit;
	display: inherit;
	height: inherit;
	border-radius: inherit;
	text-align: center;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
	line-height: 1;
}
.switch-label:before {
	content: attr(data-dayOfWeek);
	color: #e8401e;
	opacity: 1;
	margin-left: -2.5em;
}
.switch-label:after {
	content: attr(data-dayOfWeek);
	color: #61e81e;
	opacity: 0;
	margin-left: -2.5em;
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	border-radius: 100%;
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
}

.switch-input:checked ~ .switch-handle {
	left: 74px;
}

/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

/* Switch Flat
==========================*/
.switch-flat {
	padding: 0;
	background-image: none;
}
.switch-flat .switch-label {
	border: solid 2px #e8401e;
}
.switch-flat .switch-label:after {
	color: #61e81e;
}
.switch-flat .switch-handle {
	top: 6px;
	left: 6px;
	background: #e8401e;
	width: 22px;
	height: 22px;
}
.switch-flat .switch-handle:before {
	background: #eceeef;
}
.switch-flat .switch-input:checked ~ .switch-label {
	border-color: #61e81e;
}
.switch-flat .switch-input:checked ~ .switch-handle {
	left: 152px;
	background: #61e81e;
}
