@(lastHourAverageTemperature: Double)(lastDayAverageTemperature: Double)(lastWeekAverageTemperature: Double)
@formatValue(value: Double) = @{ val result = String.format("%.1f", value); result; }
@main("Heater Timer") {
    <span class='temperatureContainer'>
        <span class='header'>Average temperatures</span>
        <span class='label'>1h</span><span class='value'>@formatValue(lastHourAverageTemperature) degC</span>
        <span class='label'>24h</span><span class='value'>@formatValue(lastDayAverageTemperature) degC</span>
        <span class='label'>7d</span><span class='value'>@formatValue(lastWeekAverageTemperature) degC</span>
    </span>
<!--
    <span class='scheduleContainer'>
        <span class='header'>Next activation</span>
        <span class='label'>Timer 1</span><span class='value'>2015-12-31 12:59</span>
        <span class='label'>Timer 2</span><span class='value'>2015-12-31 12:59</span>
    </span>
-->
}
