@(readings: List[SensorReading])
@main("Sensor readings") {
            <table class='fixed-table sensorreadings'>
                <thead>
                    <tr>
                        <th class='device'>Sensor</th>
                        <th class='temperature'>Temperature</th>
                        <th class='humidity'>Humidity</th>
                        <th class='pressure'>Pressure</th>
                        <th class='timestamp'>Recorded</th>
                    </tr>
                </thead>
                <tbody>
                    @for(reading <- readings) {
                    <tr>
                        <td>@reading.sensorId</td>
                        <td>@reading.temperature</td>
                        <td>@reading.humidity</td>
                        <td>@reading.pressure</td>
                        <td>@reading.timestamp</td>
                    </tr>
                    }
                </tbody>
            </table>
}
