@(readings: List[SensorReading])(configList: List[Configuration])
@import play.i18n._
@main(Html(Messages.get("heading.sensorreadings"))) {
            <table class='fixed-table sensorreadings'>
                <thead>
                    <tr>
                        <th class='device'>@Html(Messages.get("label.device"))</th>
                        <th class='temperature'>@Html(Messages.get("label.temperature"))</th>
                        <th class='humidity'>@Html(Messages.get("label.humidity"))</th>
                        <th class='pressure'>@Html(Messages.get("label.pressure"))</th>
                        <th class='timestamp'>@Html(Messages.get("label.timestamp"))</th>
                    </tr>
                </thead>
                <tbody>
                    @for(reading <- readings) {
                    <tr>
                        <td>@reading.sensorId</td>
                        <td>@reading.temperature</td>
                        <td>@reading.humidity</td>
                        <td>@reading.pressure</td>
                        <td>@reading.getTime()</td>
                    </tr>
                    }
                </tbody>
            </table>

            <table>
                @for(config <- configList) {
                <tr>
                    <td>@config.key</td>
                    <td>@config.getValue(new Integer(0))</td>
                </tr>
                }
            </table>
}
