@(settingForm: Form[TimerSetting])
@import play.i18n._
@import play.mvc.Http.Context.Implicit
@main(if(settingForm("id").value == "0") { Html(Messages.get("heading.newdeparturetime")) } else { Html(Messages.get("heading.editdeparturetime")) }) {
    @helper.form(action = routes.Timer.save(), 'id -> "saveitemform") {
        <input type='hidden' name='id' value='@settingForm("id").value' />

        <div class='heaterfield'>
            @helper.input(settingForm("heater"), 'class -> "heaternumber", '_label -> Html(Messages.get("label.input.heater")) ) { (id, name, value, args) =>
            <input type='number' name='@name' id='@id' value=@value @toHtmlArgs(args) />
            }
        </div>

        <div class='labelfield'>
            @helper.inputText(settingForm("label"), 'class -> "label", '_label -> Html(Messages.get("label.input.label")))
        </div>

        <div class='hourfield'>
            <button type='button' onclick='utils.incrementValue("hour", 1, 0, 23)'>+1</button>
            @helper.input(settingForm("hour"), 'class -> "hour", 'size -> "2", 'maxlength -> "2", '_label -> Html(Messages.get("label.input.hours")) ) { (id, name, value, args) =>
            <input type='number' name='@name' id='@id' value=@value @toHtmlArgs(args)>
            }
            <button type='button' onclick='utils.decrementValue("hour", 1, 0, 23)'>-1</button>
        </div>

        <div class='minutefield'>
            <button type='button' onclick='utils.incrementValue("minute", 10, 0, 59)'>+10</button>
            <button type='button' onclick='utils.incrementValue("minute", 1, 0, 59)'>+1</button>
            @helper.input(settingForm("minute"), 'class -> "minute", 'size -> "2", 'maxlength -> "2", '_label -> Html(Messages.get("label.input.minutes")) ) { (id, name, value, args) =>
            <input type='number' name='@name' id='@id' value=@value @toHtmlArgs(args)>
            }
            <button type='button' onclick='utils.decrementValue("minute", 10, 0, 59)'>-10</button>
            <button type='button' onclick='utils.decrementValue("minute", 1, 0, 59)'>-1</button>
        </div>

        <div class='daysfield'>
            @for(day <- java.time.DayOfWeek.values()) {
            <label class='switch switch-flat'>
                <input class='switch-input' type='checkbox' name='days[]' value=@day.getValue() @if(settingForm("days").value.contains(day.getValue().toString())) {checked} />
                <span class='switch-label' data-dayOfWeek='@day.getDisplayName(java.time.format.TextStyle.FULL, Http.Context.Implicit.lang().toLocale())'></span>
                <span class='switch-handle'></span>
            </label>
            }
        </div>
    }
<!--
java.util.Locale.getDefault()
-->

    <script>
        toolbar.connectButton('savebutton', 'saveitemform');
        toolbar.enableButton('savebutton');
    </script>
}