@(settings: List[TimerSetting])
@main("Timer settings") {
            <script>
                function itemClicked(id) {
                    if (utils.highlightSingleRow("row_" + id)) {
                        if (utils.setValue("edititemid", "value", id)) {
                            toolbar.connectButton("editbutton", "edititemform");
                        }
                        if (utils.setValue("deleteitemid", "value", id)) {
                            toolbar.connectButton("deletebutton", "deleteitemform");
                        }
                    }
                }
            </script>

            <table class='fixed-table timersettings'>
                <thead>
                    <tr>
                        <th class='heater'>Heater</th>
                        <th class='label'>Label</th>
                        <th class='departuretime'>Departure</th>
                        <th class='days'>Days</th>
                    </tr>
                </thead>
                <tbody>
                    @for(setting <- settings) {
                    <tr class='timersetting' id='row_@setting.id' onclick='itemClicked(@setting.id)'>
                        <td>@setting.heater</td>
                        <td>@setting.label</td>
                        <td>@setting.getDepartureString()</td>
                        <td>@setting.getDisplayDays()</td>
                    </tr>
                }
                </tbody>
            </table>

            <form id='newitemform' method='post' action='@routes.Timer.edit()'>
                <input type='hidden' name='id' id='newitemid' value='0' />
            </form>
            <form id='edititemform' method='post' action='@routes.Timer.edit()'>
                <input type='hidden' name='id' id='edititemid' value='0' />
            </form>
            <form id='deleteitemform' method='post' action='@routes.Timer.delete()'>
                <input type='hidden' name='id' id='deleteitemid' value='0' />
            </form>

            <script>
                toolbar.connectButton('newbutton', 'newitemform');
            </script>
}
