@(settings: List[TimerSetting])
@main("Timer settings") {
            <table class='fixed-table timersettings'>
                <thead>
                    <tr>
                        <th class='heater'>Heater</th>
                        <th class='departuretime'>Departure</th>
                        <th class='days'>Days</th>
                    </tr>
                </thead>
                <tbody>
                    @for(setting <- settings) {
                    <tr id='row_@setting.id' onclick='utils.highlightRow("row_@setting.id")'>
                        <td>@setting.heater</td>
                        <td>@setting.getDepartureTime()</td>
                        <td>@for(day <- setting.getDisplayDays()) { @day }</td>
                        <td>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

            <form id='newitemform' method='post' action='@routes.Timer.edit()'>
                <input type='hidden' name='id' id='newitemid' value='0' />
            </form>
            <form id='edititemform' method='post' action='@routes.Timer.edit()'>
                <input type='hidden' name='id' id='edititemid' value='0' />
            </form>
            <form id='deleteitemform' method='post' action='@routes.Timer.delete()'>
                <input type='hidden' name='id' id='deleteitemid' value='0' />
            </form>

            <script>
                toolbar.connectButton('newbutton', 'newitemform');
                toolbar.connectButton('editbutton', 'edititemform');
                toolbar.connectButton('deletebutton', 'deleteitemform');
                toolbar.enableButton('newbutton');
            </script>
}
